.about__list { 
    display: flex;
    gap: var(--main-gap);
    flex-wrap: wrap;
    }

.about__item {
  @include basis(0, 1);
  @include tablet {
    @include basis(1, 2);
  }
  @include desktop {
    @include basis(3, 4);
  }
}

.about-title__item {
  text-align: center;
  font-size: 14px;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  color: var(--main-h-color);
  margin-top: 30px;
  margin-bottom: 10px;
  @include tablet {
    text-align: left;
  }
}
  
.about-title__text {
  font-size: 14px;
  line-height: 1.7143;

  @include desktop {
  }
}

.about__logo-container {
  margin-bottom: var(--main-gap);
  background: var(--fourth-bg-color);
  border-radius: 4px;
  text-align: center;
  height: 120px;

  @include desktop {
    // padding-top: 25px;
    // padding-bottom: 25px;
    }
  }
  
.about__logo {
  box-sizing: content-box;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
