.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}
  
.modal {
  width: calc(100% - 30px);
  max-width: 450px;
@include desktop {
  max-width: 528px;
  }
  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 500ms linear;
    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scaleX(3);
    }
  }
  
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $transition_fill;
    &:hover,
    &:focus {
      fill: var(--main-btn-color);
    }
  }
  
.modal__reg {
  padding: 40px;
}
  
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.modal__text {
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
  
.modal__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: var(--main-h-color);
  background-color: transparent;
  transition: $transition_border-color;
  outline: none;
    &:focus {
      border-color: var(--main-btn-color);
    }
  }
  
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-h-color);
  margin-bottom: 10px;
}
  
.modal__comment {
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
  
.modal__link {
  font-size: 12px;
  line-height: calc(14.06 / 12);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
    }
    white-space: nowrap;
}
  
.modal__field {
  display: flex;
  gap: 7px;
  margin-bottom: 30px;
  margin-top: 10px;
  @include desktop {
    margin-left: 13px;
  }
}

.modal__policy {
  display: flex;
  gap: 7px;
}
  
.modal__policy-text {
  font-size: 12px;
  line-height: calc(14.06 / 12);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
    }
}
  
.check__text {
  display: flex;
  align-items: center;
  
    &::before {
      content: '';
      width: 16px;
      height: 15px;
      border: 2px solid #212121;
      border-radius: 2px;
      margin-right: 7px;
      flex-shrink: 0;
      transition: $transition_border;
    }
    .modal__check:checked + &::before {
      background-color:var(--main-btn-color);
      border: none;
      background-image: url(../images/icon-check.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
      
    .modal__check:focus + &::before {
      border: 2px solid var(--main-btn-color);
    }
}
  
.input-wrapper {
  position: relative;
  display: block;
}
  
.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: $transition_fill;
    .modal__input:focus + & {
      fill: var(--main-btn-color);
    }
  }
  
