.signup-form {

  @include desktop {
    display: flex;
    gap: 12px;
  }
}
  
.signup-form_margin {
  margin-left: auto;
  margin-top: 60px;
  @include desktop{
    margin-top: 0px;
  }
}

.form__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-btn-color);
  margin-bottom: 20px;
}
  
.form__footer {
  @include desktop {
    display: flex;
    gap: 12px;
  }
}

.form__label {
}

.form__input {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--seconder-bg-color);
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--seconder-text-color);
  @include desktop {
    width: 358px;
    margin-bottom: 0px;
  }
}
  
.form__logo {
  fill: var(--main-bg-color);
}
  