.team {
    background-color: var(--fourth-bg-color);
}
  
.team__list {
  display: flex;
  gap: var(--main-gap);
  flex-wrap: wrap;
  justify-content: center;
}
  
.team__item {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  @include desktop {
    padding-bottom: 30px;
  }
}
  
.team__items {
  width: 100%;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include basis(0,1);
  @include tablet {
    @include basis(1, 2);
  }
  @include desktop {
    @include basis(3, 4);
  }
}
  
.team__title {
  color: var(--main-h-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}
  
.team__text {
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 10px;
  margin-bottom: 16px;
}
  